input
  display: block
  width: 20%
  margin: 3rem 0 0 3rem
  padding: 0.3rem 0.7rem
  font-size: 1rem
  line-height: 1.5
  color: grey
  background-color: white
  background-clip: padding-box
  border: 1px solid #ced4da
  border-radius: 0.25rem
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out

  &:focus
    border-color:  #80bdff
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25)
    color: #495057
    outline: 0

.is-invalid
  @extend input
  border-color: #dc3545
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25)
